#about__container {
    position: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 60px;
    margin: auto auto;
    text-align: center;
}

#about__container--title {
    margin: 12px 0 20px 0;
    font-size: var(--h1-size);
    font-weight: 600;
}
