#chatroom__messages {
    position: relative;
    /* min-height: 100%; */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-color: var(--background-color) #ffffff00;
}

#chatroom__input {
    height: 45px;
    padding-top: 8px;
}

#chatroom__input form {
    display: flex;
    gap: 10px;
}

#chatroom__input input {
    padding: 8px;
}

/* media queries */
@media only screen and (max-width: 992px) {
    #chatroom__input {
        padding-top: 0;
    }

    #chatroom__input input {
        margin-bottom: 0;
    }

    .send__chat {
        display: none;
    }
}
