#chatroom__messages {
    position: relative;
    min-height: 100%;
    display: flex;
    /*
    flex-direction: column;
    justify-content: flex-end; */
    /* align-items: stretch;
     */
    /* align-self: flex-end;
    justify-self: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    overflow-y: scroll;
    background-color: red;
}

#chatroom__input {
    background-color: blue;
    height: 45px;
}
