.readinglist__card {
    width: 130px;
    height: 318px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    background-color: var(--sidebar-bg);
    box-shadow: var(--standard-shadow);
    border-radius: var(--card-radius);
}

.readinglist__card--image {
    background-size: cover;
    background-position: center;
    width: 110px;
    height: 170px;
    text-align: center;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: var(--lighter-bg);
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    background-color: var(--sidebar-bg);
}

.readinglist__card--text {
    min-height: 70px;
}

.readinglist__card--title {
    margin: 10px 0 0;
    font-style: italic;
    font-size: var(--body-small);
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.readinglist__card--author {
    margin: 5px 0;
    font-size: 0.8em;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.book__card--synopsis {
    margin: 10px 5px 5px;
    padding: 10px;
    font-size: 0.8em;
    font-weight: 400;
    background-color: var(--sidebar-bg);
    border-radius: var(--input-radius);
}

.book__card--body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    inline-size: 145px;
    overflow-wrap: break-word;
}

.readinglist__card--delete {
    margin: 6px 0 0;
    text-align: center;
    font-size: 0.7em;
}

.readinglist__card--delete a {
    color: var(--lighter-bg);
    transition: 0.2s;
}

.readinglist__card--delete a:hover {
    color: var(--sidebar-color);
}

.readinglist__form--mobile {
    display: none;
}

/* media queries */
@media only screen and (max-width: 672px) {
    .readinglist__card {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .readinglist__card--image {
        display: none;
    }

    .readinglist__card--content {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .readinglist__card--text {
        min-height: auto;
    }

    .readinglist__card--title {
        margin: 0;
        font-size: 1em;
    }

    .readinglist__card--author {
        margin: 3px 0;
        font-size: 0.9em;
    }

    .readinglist__form--mobile {
        display: block;
    }

    .readinglist__form--mobile > select {
        margin-bottom: 0;
    }

    .readinglist__form--desktop {
        display: none;
    }

    .dash__card--books {
        padding: 1px 15px;
    }
}
