.bookclub__card {
    width: 260px;
    height: 362px;
    padding: 25px 20px 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--sidebar-bg);
    box-shadow: var(--standard-shadow);
    border-radius: var(--card-radius);
}

.bookclub__card--body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookclub__card--title {
    font-size: var(--h4-size);
    font-weight: 600;
    margin: 12px 0 6px;
}

.bookclub__icon,
.bookclub__icon--img {
    width: 75px;
    height: 75px;
    min-width: 75px;
    min-height: 75px;
    font-size: var(--h1-size);
}

.bookclub__card--capacity {
    width: 100%;
    margin: 0 0 6px;
    padding: 0 0 12px;
    font-size: 0.9em;
    border-bottom: 1px solid var(--border-bottom);
}

.bookclub__card--description-title {
    font-weight: var(--weight-bold);
    margin: 4px 0 2px;
}

.bookclub__card--description {
    width: 100%;
    margin: 5px 5px 5px;
    padding: 10px;
    font-size: 0.9em;
    font-weight: 400;
    background-color: var(--sidebar-bg);
    border-radius: var(--input-radius);
}

.bookclub__card--description-none {
    color: var(--accent-bg);
    font-style: italic;
}

.book__card--synopsis {
    margin: 10px 5px 5px;
    padding: 10px;
    font-size: 0.8em;
    font-weight: 400;
    background-color: var(--sidebar-bg);
    border-radius: var(--input-radius);
}
