#details__container {
    width: 40%;
    margin: 20px 20px 20px 15px;
    padding: 0 20px;
    background-color: var(--sidebar-bg);
    border-radius: 12px;
    box-shadow: var(--standard-shadow);
}

.details__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 2px;
    /* line-height: 1em; */
    /* background-color: red; */
}

.details__title {
    font-size: var(--h4-size);
    font-weight: 600;
}
.details__subtitle {
    font-size: var(--body-size);
    font-weight: var(--weight-bold);
}

.details__subdesc {
    margin: 0 0 12px 0;
    font-size: 0.8em;
    /* font-style: italic; */
}

.details__subsec {
    margin: 15px 0;
}

.details__edit--form {
    margin: 0;
    padding: 0;
}

.details__subbox {
    width: 100%;
    margin: 5px 0px 5px;
    padding: 10px;
    font-size: 0.9em;
    font-weight: 400;
    background-color: var(--sidebar-bg);
    border-radius: var(--input-radius);
}

.details__description {
    white-space: pre-line;
}

.details__members {
    height: fit-content;
    max-height: 104px;
    padding: 5px;
}

.details__members--list {
    position: inherit;
    padding: 5px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: var(--background-color) #ffffff00;
    height: fit-content;
    max-height: 94px;
}

.details__members--list {
    /* overflow: scroll; */
    position: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3px 10px;
    margin: 0px;
    height: fit-content;
}

.details__members--list li {
    list-style-type: none;
    /* margin: 0px; */
}

.details__currentreads {
    padding: 5px 10px;
    font-size: 0.8em;
    /* padding: 5px 0 5px; */
}

.details__currentreads ul {
    margin: 0;
}

.details__currentreads li {
    list-style-type: none;
    padding: 5px 0 5px;
    border-bottom: 1px solid var(--border-bottom);
    font-weight: var(--weight-xlight);
}

.details__currentreads li:last-child {
    border-bottom: 0px solid var(--border-bottom);
}

.details__currentreads--title {
    margin: 0 2px 0 0;
    color: var(--lighter-bg);
    font-weight: var(--weight-med);
    font-style: italic;
    transition: 0.2s;
}

.details__currentreads--title:hover {
    color: var(--link-hover);
}

.button__details--edit {
    /* box-sizing: content-box; */
    margin: 0;
    font-size: 0.7em;
    padding: 3px 5px;
    border-radius: 2px;
    /* padding: 3px 8px; */
    /* background-color: red; */
}

.details__deleteleave {
    font-weight: var(--weight-bold);
    color: var(--lighter-bg);
    cursor: pointer;
    transition: 0.2s;
}

.details__deleteleave:hover {
    font-weight: var(--weight-bold);
    color: var(--main-color);
    cursor: pointer;
}

.details__deleteleave--confirm {
    margin: 8px 0;
    font-size: 0.8em;
    color: var(--lighter-bg);
    border: 1px solid var(--error-color);
    background-color: var(--error-color);
}

.details__deleteleave--link {
    color: var(--lighter-bg);
    font-weight: var(--weight-bold);
    transition: 0.2s;
}

.details__deleteleave--link:hover {
    cursor: pointer;
    color: var(--main-color);
}
