.message__container {
    display: flex;
    margin: 3px 10px 0;
    gap: 5px;
}

.message__text {
    width: 99%;
}

.message__author {
    margin: 0 5px 0 8px;
    font-weight: var(--weight-bold);
}

.message__content {
    padding: 7px 12px;
    margin: 4px 0;
    font-size: var(--body-font);
    background-color: var(--input-bg);
    border-radius: 12px;
    box-shadow: var(--standard-shadow);
    word-break: break-word;
}

.message__at {
    font-weight: var(--weight-xlight);
    font-size: 0.75em;
}

.message__time {
    font-size: 0.75em;
}

.chat__icon--user {
    margin-top: 24px !important;
}
