.dash__card--subtitle {
    font-size: var(--h3-size);
    font-weight: var(--weight-bold);
}

.dash__card--books {
    background-color: var(--book-cluster-bg);
    padding: 30px;
    margin: 0;
}

/* media queries */
@media only screen and (max-width: 672px) {
    .dash__card--books {
        /* margin: */
        padding: 20px 10px;
    }
}
