#content__container {
    position: relative;
    height: var(--body-height);
    width: var(--body-width);
    display: flex;
    margin: 20px 0;
    background-color: var(--dash-bg);
    border-radius: 12px;
    box-shadow: var(--standard-shadow);
}

/* media queries */
@media only screen and (max-width: 992px) {
    #content__container {
        position: fixed;
        height: calc(100% - 110px);
        margin: 20px 0;
        flex-direction: column;
    }
}

@media only screen and (max-width: 672px) {
    #content__container {
        width: calc(100% - 35px);
        margin-left: -22px;
    }
}
