@import url("https://use.typekit.net/qqr7rbe.css");

:root {
    --body-font: aktiv-grotesk, sans-serif;
    --body-height: calc(100vh - 110px);
    --body-width: calc(100vw - 75px);

    --main-color: rgba(255, 255, 255, 1);
    --background-color: rgba(226, 58, 80, 0.3);
    --nav-accent: rgba(219, 83, 74, 0.9);
    --accent-bg: rgba(255, 255, 255, 0.48);
    --input-bg: rgba(255, 255, 255, 0.24);
    --sidebar-bg: rgba(255, 255, 255, 0.12);
    --button-bg: rgba(221, 221, 221, 0.12);
    --dash-bg: rgba(233, 143, 143, 0.15);
    --error-color: rgba(242, 64, 76, 0.774);

    --body-size: 16px;
    --small-size: 0.9em;
    --logo-size: 1.8em;
    --h1-size: 2em;
    --h2-size: 1.8em;
    --h3-size: 1.6em;
    --h4-size: 1.3em;
    --h5-size: 1.2em;

    --border-radius: 12px;
    --card-radius: 8px;
    --input-radius: 4px;
}

*,
body {
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    text-decoration: none;
}

body {
    margin: 25px 40px;
    position: absolute;
    height: var(--body-height);
    width: var(--body-width);
    color: var(--main-color);
    font-family: var(--body-font);
    font-size: 15px;
    background: no-repeat fixed url("./assets/background.jpg");
    overflow: hidden;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

p {
    line-height: 1.5em;
}

hr {
    margin: 8px 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
}

/* container for normal internal pages */
#wide__container {
    width: 100%;
    margin: 5px;
    padding: 15px;
    scrollbar-width: auto;
    scrollbar-color: #727272;
    overflow-y: scroll;
}

#wide__title {
    font-size: var(--h2-size);
    font-weight: 600;
    text-align: center;
}

/* container for internal form pages */
#form__container {
    position: inherit;
    width: min(500px, 50%);
    display: flex;
    flex-direction: column;
    padding: 20px 60px 0;
    margin: auto auto;
}

#form__container button {
    width: 100%;
    margin: 6px 0;
    padding: 8px 40px;
}

.form__buttons {
    width: 100%;
    margin: 12px 0 !important;
    gap: 20px;
}

/* scrollbar styling */
::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
    border-radius: 10px;
}

/* forms and buttons */
button:disabled {
    color: var(--accent-bg);
    background-color: var(--dash-bg);
    border: 1px solid var(--sidebar-bg);
}

button {
    box-sizing: border-box;
    margin: 6px 0;
    padding: 8px 10px;
    color: white;
    font-weight: 600;
    background-color: var(--button-bg);
    border: 1px solid var(--accent-bg);
    border-radius: 3px;
    outline: none;
    transition: 0.3s;
}

button:enabled:hover,
button:active:hover {
    background-color: var(--input-bg);
}

.button__auth {
    width: 100%;
}

#form__container label {
    margin: 0 5px;
}

#form__container div {
    margin: 5px 0;
}

#auth__container input,
#form__container input,
#form__container textarea {
    width: 100%;
    padding: 8px 10px;
    margin: 6px 0;

    color: var(--main-color);
    border: none;
    caret-color: var(--main-color);
    background: var(--sidebar-bg);
    border-radius: var(--input-radius);
    border: 1px solid var(--sidebar-bg);
}

#form__container textarea {
    margin: 6px 0 2px 0;
}

#form__container textarea {
    resize: none;
    overflow: auto;
}

#auth__container input:focus,
#form__container input:focus,
#form__container textarea:focus {
    background-color: var(--input-bg);
    color: var(--main-color);
    outline: none;
    border: 1px solid var(--input-bg);
}

#auth__container input::placeholder,
#form__container input::placeholder,
#form__container textarea::placeholder {
    color: var(--main-color);
}

.input__split {
    display: flex;
    gap: 10px;
}

.input__split div {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
}

.form__textarea--lg {
    height: 70px;
}
