@import url("https://use.typekit.net/qqr7rbe.css");

:root {
    --body-font: aktiv-grotesk, sans-serif;
    --body-height: calc(100vh - 110px);
    --body-width: calc(100vw - 75px);

    --main-color: rgba(255, 255, 255, 1);
    --default-bg: rgb(228, 88, 88);
    --background-color: rgba(207, 44, 66, 0.25);
    --lighter-bg: rgba(255, 255, 255, 0.8);
    --link-hover: rgba(255, 255, 255, 0.65);
    --accent-bg: rgba(255, 255, 255, 0.48);
    --border-bottom: rgba(255, 255, 255, 0.25);
    --input-bg: rgba(255, 255, 255, 0.2);
    --button-bg: rgba(221, 221, 221, 0.12);
    --sidebar-bg: rgba(255, 255, 255, 0.1);
    --book-cluster-bg: rgba(255, 255, 255, 0.07);
    --dash-bg: rgba(236, 139, 139, 0.2);
    --error-color: rgba(218, 68, 78, 0.774);

    --standard-shadow: 2px 2px 2px rgba(0, 0, 0, 0.01);

    --body-size: 16px;
    --body-small: 0.9em;
    --logo-size: 1.9em;
    --h1-size: 2em;
    --h2-size: 1.8em;
    --h3-size: 1.6em;
    --h4-size: 1.3em;
    --h5-size: 1.2em;
    --h6-size: 1.1em;

    --weight-bold: 600;
    --weight-med: 500;
    --weight-light: 400;
    --weight-xlight: 200;

    --border-radius: 12px;
    --card-radius: 8px;
    --input-radius: 4px;
}

*,
body {
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    text-decoration: none;
}

body {
    margin: 25px 40px;
    position: absolute;
    height: var(--body-height);
    width: var(--body-width);
    color: var(--main-color);
    font-family: var(--body-font);
    font-size: 15px;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-color: var(--default-bg);
    background-image: url("./assets/background.jpg");
    overflow: hidden;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

h5 {
    font-size: var(--h6-size);
}

p {
    line-height: 1.5em;
}

hr {
    margin: 8px 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid var(--border-bottom);
    border-left: none;
}

a {
    color: var(--main-color);
}

.weight__heavy {
    font-weight: var(--weight-bold);
}

.weight__med {
    font-weight: var(--weight-med);
}

.weight__light {
    font-weight: var(--weight-light);
}

/* container for normal internal pages */
#wide__container {
    width: 100%;
    margin: 5px;
    padding: 15px 0 10px;
    scrollbar-width: auto;
    scrollbar-color: var(--background-color) #ffffff00;
    overflow-y: scroll;
}

#wide__title {
    font-size: var(--h2-size);
    font-weight: 600;
    text-align: center;
}

#wide__subcontainer--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* container for internal form pages */
#form__container {
    position: inherit;
    width: min(570px, 60%);
    display: flex;
    flex-direction: column;
    padding: 20px 60px 0;
    margin: auto auto;
}

#form__container button {
    width: 100%;
    margin: 6px 0;
    padding: 8px 40px;
}

.form__buttons {
    width: 100%;
    gap: 20px;
}

/* scrollbar styling */

::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
    border-radius: 10px;
}

/* forms and buttons */
button:disabled {
    color: var(--accent-bg);
    background-color: var(--dash-bg);
    border: 1px solid var(--sidebar-bg);
}

button {
    box-sizing: border-box;
    margin: 6px 0;
    padding: 6px 10px;
    color: white;
    font-weight: 600;
    background-color: var(--button-bg);
    border: 1px solid var(--accent-bg);
    border-radius: 3px;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}

button:disabled:hover {
    cursor: default;
}

button:enabled:hover,
button:active:hover {
    background-color: var(--input-bg);
}

.button__auth {
    width: 100%;
}

#form__container label {
    margin: 0 5px;
}

#form__container div {
    margin: 5px 0;
}

#auth__container input,
#form__container input,
#form__container textarea,
#form__container select,
select,
input {
    width: 100%;
    padding: 6px 10px;
    margin: 6px 0;

    color: var(--main-color);
    border: none;
    caret-color: var(--main-color);
    background: var(--sidebar-bg);
    border-radius: var(--input-radius);
    border: 1px solid var(--sidebar-bg);
}

select {
    width: fit-content;
    padding-right: 10px;
    outline: none;
}

#form__container textarea {
    margin: 6px 0 2px 0;
}

#form__container textarea {
    resize: vertical;
    overflow: auto;
}

#auth__container input:focus,
#form__container input:focus,
#form__container textarea:focus,
#form__container select:focus,
input:focus {
    background-color: var(--input-bg);
    color: var(--main-color);
    outline: none;
    border: 1px solid var(--input-bg);
}

#auth__container input::placeholder,
#form__container input::placeholder,
#form__container textarea::placeholder,
input::placeholder {
    color: var(--lighter-bg);
    font-style: italic;
}

.input__split {
    display: flex;
    gap: 10px;
}

.input__split div {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
}

.form__textarea--lg {
    height: 70px;
}

/* circular icons */

.circular__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    text-align: center;
    color: var(--main-color);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    background-color: var(--accent-bg);
    border-radius: 100%;
    border: solid 1px var(--input-bg);
    background-clip: content-box;
    transition: 0.2s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-size: cover;
    background-position: center;
}

.circular__icon--img {
    padding: 2px;
    border-radius: 100%;
    border: solid 1px var(--input-bg);
    background-clip: content-box;
}

/* error messaging */
.label__section {
    display: flex;
    justify-content: space-between;
}

.error__message {
    margin-top: 3px;
    font-style: italic;
    font-size: 0.75em;
    font-weight: var(--weight-med);
}

/* color scheme */
@media (prefers-color-scheme: dark) {
    select > option {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    select > option {
        color: black;
    }
}

/* other */
.link__bolded {
    font-weight: 600;
    opacity: 1;
    transition: 0.2s;
}

.link__bolded:hover {
    opacity: 0.8;
}
