/* container for normal internal pages */
#wide__container {
    width: 100%;
    margin: 5px;
    padding: 15px 0 10px;
    scrollbar-width: auto;
    scrollbar-color: var(--background-color) #ffffff00;
    overflow-y: scroll;
}

#wide__title {
    padding: 0 10px;
    font-size: var(--h2-size);
    font-weight: 600;
    text-align: center;
}

#wide__subcontainer--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* container for internal form pages */
#form__container {
    position: inherit;
    width: min(570px, 60%);
    display: flex;
    flex-direction: column;
    padding: 20px 60px 0;
    margin: auto auto;
}

#form__container button {
    width: 100%;
    margin: 6px 0;
    padding: 8px 40px;
}

.form__buttons {
    width: 100%;
    gap: 20px;
}

/* forms and buttons */
button:disabled {
    color: var(--accent-bg);
    background-color: var(--dash-bg);
    border: 1px solid var(--sidebar-bg);
}

button {
    box-sizing: border-box;
    margin: 6px 0;
    padding: 6px 10px;
    color: white;
    font-weight: 600;
    background-color: var(--button-bg);
    border: 1px solid var(--accent-bg);
    border-radius: 3px;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}

button:disabled:hover {
    cursor: default;
}

button:enabled:hover,
button:active:hover {
    background-color: var(--input-bg);
}

.button__auth {
    width: 100%;
}

#form__container label {
    margin: 0 5px;
}

#form__container div {
    margin: 5px 0;
}

#auth__container input,
#form__container input,
#form__container textarea,
#form__container select,
select,
input {
    width: 100%;
    padding: 6px 10px;
    margin: 6px 0;

    color: var(--main-color);
    border: none;
    caret-color: var(--main-color);
    background: var(--sidebar-bg);
    border-radius: var(--input-radius);
    border: 1px solid var(--sidebar-bg);
}

select {
    width: fit-content;
    padding-right: 10px;
    outline: none;
}

#form__container textarea {
    margin: 6px 0 2px 0;
}

#form__container textarea {
    resize: vertical;
    overflow: auto;
}

#auth__container input:focus,
#form__container input:focus,
#form__container textarea:focus,
#form__container select:focus,
input:focus {
    background-color: var(--input-bg);
    color: var(--main-color);
    outline: none;
    border: 1px solid var(--input-bg);
}

#auth__container input::placeholder,
#form__container input::placeholder,
#form__container textarea::placeholder,
input::placeholder {
    color: var(--lighter-bg);
    font-style: italic;
}

.input__split {
    display: flex;
    gap: 10px;
}

.input__split div {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
}

.form__textarea--lg {
    height: 70px;
}

/* circular icons */

.circular__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    text-align: center;
    color: var(--main-color);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    background-color: var(--accent-bg);
    border-radius: 100%;
    border: solid 1px var(--input-bg);
    background-clip: content-box;
    transition: 0.2s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-size: cover;
    background-position: center;
}

.circular__icon--img {
    padding: 2px;
    border-radius: 100%;
    border: solid 1px var(--input-bg);
    background-clip: content-box;
}

/* error messaging */
.label__section {
    display: flex;
    justify-content: space-between;
}

.error__message {
    margin-top: 3px;
    font-style: italic;
    font-size: 0.75em;
    font-weight: var(--weight-med);
}

/* media queries */
@media only screen and (max-width: 992px) {
    #wide__container {
        width: calc(100% - 10px);
        margin: 5px 0 10px;
    }

    .input__split {
        display: block;
    }
}

@media only screen and (max-width: 672px) {
    #wide__container {
        padding: 0 10px;
        text-align: center;
    }

    #wide__title {
        font-size: var(--h3-size);
    }

    #wide__subtitle {
        padding: 10px 0;
    }

    .input__split {
        display: block;
    }

    #form__container {
        width: 100%;
        padding: 5px 10px 0;
        overflow-x: clip;
    }

    .label__section {
        display: block;
    }

    div.error__message {
        padding: 0 5px;
        font-size: 0.8em;
    }
}
