#sidebar__container {
    position: relative;
    box-sizing: border-box;
    min-width: 240px;
    height: 100%;
    padding: 25px 20px;
    background-color: var(--sidebar-bg);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.sidebar__title {
    margin: 0 0 10px 0;
    font-size: var(--h5-size);
    font-weight: 600;
}

.sidebar__links--group {
    border-bottom: 1px solid var(--accent-bg);
    margin: 15px 0;
}

.sidebar__links--group a {
    font-size: var(--small-size);
    padding: 0 8px;
}

.sidebar__caret {
    margin: 0 0 0 5px;
}
