.book__card {
    width: 15vw;
    height: 200px;
    padding: 20px;
    text-align: center;
    background-color: var(--sidebar-bg);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.01);
    border-radius: var(--card-radius);
}

.book__card--title {
    font-size: var(--h4-size);
    font-weight: 600;
}
