#nav__container {
    position: relative;
    width: 100%;
    display: flex;
}

#nav__title {
    min-width: 260px;
    text-align: center;
    color: var(--main-color);
    font-size: var(--logo-size);
    font-weight: var(--weight-med);
    text-transform: lowercase;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#nav__title a {
    color: var(--main-color);
}

/* mobile menu */
#nav__mobile {
    display: none;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
}

.nav__menu--mobile {
    position: relative;
    right: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__menu--button-mobile {
    justify-self: flex-end;
}

ul#nav__menu--links-mobile {
    list-style-type: none;
    position: fixed;
    top: 66px;
    left: 0;
    width: 100%;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--sidebar-bg);
    background-color: var(--book-cluster-bg);
    backdrop-filter: blur(10px);
}

ul#nav__menu--links-mobile li {
    /* background-color: aqua; */
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.mobile__divider {
    width: 90%;
}
/* desktop menu */
.nav__links--desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

/* link styling for mobile and desktop */
#nav__left {
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

#nav__left a,
#nav__right a,
.nav__text {
    color: var(--main-color);
    text-decoration: none;
    transition: 0.2s;
}

#nav__left a:hover,
#nav__right a:hover {
    color: var(--link-hover);
    padding-bottom: 1px;
}

.nav__mainlink,
.nav__text {
    margin: 8px 18px;
    font-weight: 500;
    font-size: var(--h5-size);
}

.nav__text--heavy {
    margin-right: 5px;
}

.nav__text--light {
    font-weight: 200;
}

.nav__sublink {
    margin: 5px;
    font-weight: 200;
}

#nav__right {
    justify-self: flex-end;
    position: relative;
    display: flex;
    display: flex;
}

.nav__social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social__icon {
    width: 30px;
    height: 30px;
    opacity: 0.6;
    transition: 0.2s;
    fill: white;
}

.social__icon:hover {
    opacity: 0.9;
}

@media only screen and (max-width: 992px) {
    #nav__desktop {
        display: none;
    }

    #nav__mobile {
        display: flex;
    }

    #nav__title {
        min-width: 260px;
    }
}
