#nav__container {
    position: relative;
    width: 100%;
    display: flex;
}

#nav__title {
    width: 325px;
    text-align: center;
    color: var(--main-color);
    font-size: var(--logo-size);
    font-weight: var(--weight-med);
    text-transform: lowercase;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#nav__title a {
    color: var(--main-color);
}

#nav__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

#nav__left {
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

#nav__left a,
.nav__text {
    color: var(--main-color);
    text-decoration: none;
    transition: 0.2s;
}

#nav__left a:hover {
    color: var(--link-hover);
    padding-bottom: 1px;
    /* border-bottom: 1px solid var(--main-color); */
}

.nav__mainlink,
.nav__text {
    margin: 8px 18px;
    font-weight: 500;
    font-size: var(--h5-size);
}

.nav__text--heavy {
    margin-right: 5px;
}

.nav__text--light {
    font-weight: 200;
}

.nav__sublink {
    margin: 5px;
    font-weight: 200;
}

.nav__right {
    justify-self: flex-end;
    position: relative;
    display: flex;
    right: 0px;
    /* margin: 0 0 0 40px; */
    display: flex;
    /* gap: 40px; */
}

.nav__social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social__icon {
    width: 30px;
    height: 30px;
    opacity: 0.6;
    transition: 0.2s;
    fill: white;
}

.social__icon:hover {
    opacity: 0.9;
}
