#auth__container {
    position: relative;
    top: 10vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 60px;
    margin: auto auto;
    text-align: center;
}

#auth__form {
    width: 400px;
    height: 500px;
    height: fit-content;
    margin: 0 auto;
    padding: 45px 60px;
    border-radius: var(--border-radius);
    background-color: var(--dash-bg);
    box-shadow: var(--standard-shadow);
}

#auth__container--title {
    margin: 0 0 20px 0;
    font-size: var(--h1-size);
    font-weight: 600;
}

ul.auth__container--errors {
    margin: 8px 0 12px;
    padding: 10px 10px 6px;

    color: white;
    font-size: 0.8em;
    text-align: center;
    line-height: 1.3em;

    border-radius: 3px;
    border: 1px solid var(--error-color);
    background-color: var(--error-color);
}

ul.auth__container--errors li {
    margin: 0 0 4px 0;
    list-style-type: none;
}

/* media queries */
@media only screen and (max-width: 672px) {
    #auth__container {
        top: 4vh;
        /*
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column; */
        padding: 25px 0;
        /* margin: auto auto;
        text-align: center; */
    }

    #auth__form {
        width: 300px;
        /*
        height: 500px;
        height: fit-content;
        margin: 0 auto; */
        padding: 30px 45px;
        /* border-radius: var(--border-radius);
        background-color: var(--dash-bg);
        box-shadow: var(--standard-shadow); */
    }
}
