#center__container {
    width: 80%;
    margin: 20px 0px 20px 20px;
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
}

#center__container--title {
    font-size: var(--h2-size);
    font-weight: 600;
    position: sticky;
}

#center__container--topbar {
    display: flex;
    gap: 7px;
}

#center__container--main-content {
    margin-top: 8px;
    position: relative;
    /* height: calc(100% - 35px); */
    overflow-y: scroll;
}

.bookclub__icon {
    position: relative;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0;
    padding: 2px;
    text-align: center;
    color: var(--main-color);
    font-size: 0.8em;
    font-weight: var(--weight-bold);
    background-color: var(--accent-bg);
    border-radius: 100%;
    border: solid 1px var(--input-bg);
    background-clip: content-box;
    transition: 0.3s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.bookclub__icon--img {
    width: 25px;
    height: 25px;
    padding: 2px;
    border-radius: 100%;
    border: solid 1px var(--input-bg);
    background-clip: content-box;
}
