#home__container {
    position: relative;
    top: 17vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 60px;
    margin: auto auto;
    text-align: center;
}

#home__container--title {
    margin: 0 0 20px 0;
    font-size: var(--h1-size);
    font-weight: var(--weight-xlight);
}

#home__container--tagline {
    margin: 0 0 20px 0;
    font-size: 3em;
    font-weight: 600;
}

#home__container--img {
    width: 400px;
    height: auto;
    margin: 20px;
    opacity: 0.85;
}

.button__home--large {
    padding: 10px 18px;
    font-size: var(--h5-size);
}
