.mobile__sidebar--cta {
    display: none;
}

#sidebar__container {
    position: relative;
    box-sizing: border-box;
    min-width: 260px;
    max-width: 260px;
    height: 100%;
    padding: 20px 20px;
    background-color: var(--sidebar-bg);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.sidebar__title {
    margin: 0 0 10px 0;
    font-size: var(--h4-size);
    font-weight: 600;
    cursor: pointer;
}

.sidebar__links--group {
    border-bottom: 1px solid var(--border-bottom);
    margin: 5px 0 15px;
    padding: 0 0 15px;
}

.sidebar__links--group div {
    margin: 6px 12px;
}

.sidebar__links--group a {
    color: var(--link-hover);
    font-size: var(--body-size);
    font-weight: var(--weight-bold);
    padding: 2px 1px;
    transition: 0.2s;
}

.sidebar__links--group a:hover {
    color: var(--main-color);
}

.sidebar__link--active {
    color: var(--main-color) !important;
}

.sidebar__caret {
    margin: 0 0 0 5px;
}

.sidebar__para {
    text-align: center;
    margin: 60px 25px 0;
}

.sidebar__cta--link {
    display: flex;
    justify-content: center;
}

.no__memberships--link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button__sidebar--center {
    position: relative;
    margin: 20px auto;
}

.button__sidebar--center-first {
    margin: 20px auto 5px;
}

.button__sidebar--center-second {
    margin: 10px auto;
}

.sidebar__bookclubs {
    position: relative;
    height: 100%;
    margin: 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* media queries */
@media only screen and (max-width: 992px) {
    #sidebar__container {
        min-width: calc(100% - 20px);
        max-width: 100%;
        padding: 0;
        height: fit-content;
        margin: 10px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .sidebar__para {
        text-align: center;
        margin: 17px 20px 17px;
    }

    .mobile__sidebar--cta {
        display: block;
        margin: -5px 0;
        font-size: 0.9em;
        font-style: italic;
    }
}
