#search__container {
    position: relative;
}

#search__form {
    position: relative;
    display: flex;
    height: fit-content;
    margin-left: 18px;
    gap: 5px;
}

#search__thing {
    position: absolute;
    height: 300px;
    border: 1px solid black;
}

#search__form input {
    width: 230px;
    z-index: 15;
}

#search__form button {
    position: absolute;
    border: none;
    background: none;
}

.search__res {
    position: absolute;
    margin-top: 25px;
    z-index: 5;
}

.search__res:hover {
    cursor: pointer;
}

.search__res ul {
    width: 230px;
    border: 1px solid var(--sidebar-bg);
    list-style-type: none;
    background-color: var(--sidebar-bg);
    backdrop-filter: blur(10px);
    border-radius: var(--input-radius);
}

.search__res li:hover {
    background-color: var(--sidebar-bg);
}

.search__res li {
    padding: 10px 0 0;
}

.search__res > ul > li > .res__info {
    margin: 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid var(--border-bottom);
}

.search__res > ul > li:last-child > .res__info {
    border-bottom: none;
}

.res__title {
    width: 100%;
    font-size: 0.8rem;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.res__author {
    font-size: 0.7rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.res__more {
    font-size: 0.85em;
    font-weight: 500;
    opacity: 0.9;
    transition: 0.2s;
}

.res__more:hover {
    opacity: 1;
}
