.book__details--clubs-container {
    display: flex;
    margin: 10px 0 0;
    gap: 5px;
}

.bookclub__icon--mini,
.bookclub__icon--mini-img {
    min-width: 25px;
    min-height: 25px;
    width: 25px;
    height: 25px;
    font-size: 0.8em;
    opacity: 0.6;
}

.bookclub__icon--mini:hover {
    opacity: 1;
}

.book__details--divider {
    margin: 10px 0;
}

.book__details--mini-title {
    margin: 0;
    letter-spacing: 0.2px;
    font-size: var(--body-small);
    font-weight: var(--weight-med);
}

.form__add--book-to-club {
    display: flex;
    gap: 10px;
}

ul.form__add--book-to-club--errors,
.form__add--book-to-club--message {
    margin: 0;
    color: var(--main-color);
    font-style: italic;
    font-size: 0.9em;
    font-weight: var(--weight-xlight);
}

.form__add--book-to-club--errors li {
    margin: 0 0 2px 0;
    list-style-type: none;
}

.form__add--book-to-club--message,
.form__add--book-to-club--message a:hover {
    color: var(--main-color);
    transition: 0.2s;
}

@media only screen and (max-width: 672px) {
    .book__details--clubs-container {
        justify-content: center;
    }

    .form__add--book-to-club {
        display: block;
    }

    .form__add--book-to-club button,
    .form__add--book-to-club select {
        width: 100%;
    }
}
