#book__clubs--icon-container {
    display: flex;
    gap: 5px;
}

.book__club--icon-mini {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    text-align: center;
    color: var(--acce);
    font-size: var(--body-small);
    font-weight: var(--weight-bold);
    background-color: var(--input-bg);
    border-radius: 100%;
    border: solid 1px var(--input-bg);
    background-clip: content-box;
    opacity: 0.5;
    transition: 0.3s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.book__club--icon-mini:hover {
    opacity: 1;
}

.book__club--icon-img {
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 100%;
    border: solid 1px var(--input-bg);
    background-clip: content-box;
}
