/* BUTTONS */
/* .button {
    box-sizing: border-box;
    margin: 6px 0;

    padding: 8px 10px;

    color: white;
    font-weight: 600;

    border: 1px solid rgba(117, 34, 34, 0.25);
    background-color: var(--sidebar-bg);
    border-radius: 3px;
    outline: none;
} */

/* .button__submit--grey {
    background-color: var(--medium-grey);
}

.button__submit--grey:hover {
    background-color: var(--light-grey);
    transition: 0.3s;
}

.button__submit--primary {
    background-color: var(--accent-color-2);
}

.button__submit--primary:hover {
    background-color: var(--accent-color-2-light);
    transition: 0.3s;
}

.button__submit--primary:focus {
    background-color: var(--accent-color-2);
}

.button__submit--secondary {
    background-color: var(--accent-color-1);
}

.button__submit--secondary:hover {
    background-color: var(--accent-color-1-light);
    transition: 0.3s;
}

.button__submit--secondary:focus {
    background-color: var(--accent-color-1);
}

.button__modal {
    width: 100%;
}

.nav__button--link {
    width: fit-content;

    margin: 0;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: unset;
    border: none;
}

.nav__button--link-main {
    padding: 20px;
} */
