.readinglist__card--container {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin: 20px 0px;
    padding: 0 15px;
    transition: all ease-in-out 0.2s;
    border-radius: 3px;
    gap: 20px 35px;
    box-shadow: var(--standard-shadow);
}

/* media queries */
@media only screen and (max-width: 672px) {
    .readinglist__card--container {
        width: 100%;
        height: inherit;
        display: block;
        margin: 10px 0px;
        text-align: center;
        box-shadow: none;
    }

    .readinglist__card--container > div {
        margin: 5px 0;
        padding: 1px 8px;
    }
}
