.readinglist__card--container {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin: 20px 0px;
    padding: 0 15px;
    transition: all ease-in-out 0.2s;
    border-radius: 3px;
    grid-gap: 20px 35px;
    box-shadow: var(--standard-shadow);
}

/* media queries */
@media only screen and (max-width: 672px) {
    .dash__card--books {
        padding: 0 10px 0 0;
    }

    .readinglist__card--container {
        width: 100%;
        display: block;
        margin: 10px 0px;
        text-align: center;
    }

    .readinglist__card--container > div {
        margin: 15px 0;
        padding: 1px 8px;
    }
}
